node_modules/
package-lock.json
.env

# exclude all LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls 
*.log
*.pdf
*.run.xml
*.synctex.gz
*.tex
*.toc
*.out
*.out.ps

# include everything in assets/ except assets/3x4/
!assets/*
assets/3x4/*

# include examples/ folder
!examples/*
